body {

  background-image: url("Coronado.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tablecolor{
  float: center;
  clear: both;
  overflow: auto;
  background-color: #9FFFEB;
  font-style: italic;
}
.hobbies{
  float: center;
  clear: both;
  overflow: auto;
  background-color: #9FFFEB;
  font-style: American Typewriter, serif;

}
